RewriteEngine On
RewriteBase /

# If the request is not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route anything starting with /api to index.php
RewriteRule ^api/(.*)$ index.php [QSA,L]
